* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--first-color: rgb(47, 157, 165);
	--second-color: rgb(18, 32, 70);
	--third-color: rgba(255, 255, 255, 0.973);
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	color: var(--third-color);
	background: url(./world.jpg) no-repeat center center fixed;
	background-size: cover;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px 0px 75px 0px;
}
h1 {
	font-size: 50px;
	text-transform: uppercase;
}
.under-title {
	font-size: 12px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.btn {
	width: 200px;
	margin: 20px;
	padding: 10px;
	border: 3px solid var(--third-color);
	border-radius: 25px;
	background: none;
	text-align: center;
	font-weight: bold;
	color: var(--third-color);
	transition: box-shadow 0.3s;
	cursor: pointer;
}

.share:hover {
	box-shadow: 0 0 10px var(--second-color);
}

.map {
	background-color: #fff;
	height: 500px;
	width: 500px;
	border: 2px solid var(--second-color);
	border-radius: 15px;
	box-shadow: 0 0 5px var(--second-color);
}

.pop-up {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--second-color);
	border: 1px solid var(--third-color);
	border-radius: 25px;
	box-shadow: 0 0 15px;
}

.pop-up-btn {
	width: 200px;
	margin: 5px;
}

.pop-up-btn:hover {
	box-shadow: 0 0 10px var(--first-color);
}

.link-input {
	width: 90%;
	height: 30px;
	margin: 5px;
	padding: 0 10px 0 10px;
	background: none;
	border: 2px solid var(--third-color);
	border-radius: 5px;
	color: white;
}

input:focus {
	outline: none;
	box-shadow: 0 0 10px var(--first-color);
}

.shadow {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
footer{
  margin-top:auto; 
}

.foot {
	height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
